@media screen and (min-width: 320px) {
.home-page {
	margin-top: 10px;
	/*font-family: sans-serif;*/
	display: block;
}
p {
	/*font-family: "Verlag A", "Verlag B", helvetica, sans-serif;*/
	/*float: left;*/
	/*margin-top: 10px;*/
	/*margin-right: 70%;*/
	/*margin-left: 4%;*/
	/*text-align: vertical;*/
}
/*-----------------------------------------*/
/*EVERY PAGE HAS THESE STYLES*/
.nav-bar {
	position: relative;
	width: 100%;
	height: 150px;
	background-color: #006699;
}
.nav-bar p {
	color:white;
	font-size: 90px;
	padding-left:20px;
	margin: 0;	
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-family: 'Playfair Display', serif;
	letter-spacing: 5px;
	font-weight: lighter;
	/*font-style: italic;*/
}
.hamburger-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 85%;
	/*float:left;*/
	/*margin: 20px 10px ;*/
}
.hamburger-icon div {
	width: 70px;
	height: 10px;
	border-radius: 10px;
	margin-bottom: 11px;
	background: white;
}
.responsive-nav-menu {
	display: none;
	font-size: 50px;
	width: 100%;
	height: 600px;
	color: black;
	background-color: white;
	position: absolute;
	z-index: 1000;
	/*margin-top: 150px;*/
}
.expand {
	display: block;
}
/*---------------------------------------*/
footer {
	width: 100%;
	height: 140px;
	background-color: #86869a;
	float: left;
	text-align: center;
	
}
footer p {
	margin: 0;
	text-align: center;
	font-size: 30px;
	color: white;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}
/*-------------------------------------*/
/*HOME PAGE SPECIFIC STYLES*/
.home-page-image img {
	width: 100%;
	/*width: 100%;*/
	/*height: 600px;*/
	/*background-color: #B8B8B8;*/
	/*z-index: 1;*/
}
/*.effective-phrase {
	width: 100%;
	height: 90px;
	background-color: #003366;
}*/
.home-page-paragraph {
	font-size: 50px;
	font-weight: lighter;
	color: #4D4D4D;
	font-family: sans-serif;
	text-align: center;
}
/*---------------------------------------*/
/*ABOUT PAGE STYLES*/
.sol-about-page-img {
	width: 700px;
	margin: auto;
	margin-top: 40px;
}
.sol-about-page-img img {
	width: 100%;
}
.about-page-header {
	text-align: center;
	font-size: 60px;
	font-weight: 300;
	font-family: 'Merriweather', serif;
	color: #222;
}
.about-page-p {
	font-family: 'Open Sans',sans-serif;
	font-weight: 300;
	font-size: 60px;
	text-align: center;
	color: #666;
}
/*---------------------------------------*/
/*SERVICES PAGE SPECIFIC STYLES*/
.service-page-image {
	width: 100%;
	height: 700px;
	background: 

    linear-gradient(
      rgba(0, 102, 153, 0.6), 
      rgba(0, 102, 153, 0.6) 
    ),

    url(photos/capitol-building.jpg);
    background-size: cover;
}
.services-header {
	font-size: 80px;
	font-weight: 300;
	font-family: 'Merriweather', serif;

}
.services-headers {
	font-size: 40px;
	font-family: 'Merriweather', serif;
	font-weight: 300;
}
.services-paragraphs {
	font-family: 'Open Sans',sans-serif;
	font-weight: 300;
	text-align: center;
}


/*----------------------------------------*/
/*CLIENTS PAGE SPECIFIC STYLES*/
.client-page-image {
	width: 100%;
	height: 700px;
	background: 

    linear-gradient(
      rgba(0, 102, 153, 0.8), 
      rgba(0, 102, 153, 0.5) 
    ),

    url(photos/client-page-image-city.jpg);
    background-size: cover;
}
.main-header {
	position: absolute;
}
.main-header h1 {
	color: #fff;
	font-size: 80px;
	text-align: center;
	position: relative;
	margin-top: 200px;
	font-family: 'Merriweather', serif; 
}
.clients-header {
	font-size: 80px;
	font-weight: 300;
	font-family: 'Merriweather', serif;
	margin-left: 30px;
}
.trade-marks {
	margin: auto;
    width: 50%;
    padding: 10px;

}
.trade-marks img {
	width: 100%;
	padding: 30px;
}
.enlarged-img {
	width: 87%;
	padding-right: 50px;
}
.slightly-enlarged-img {
	width: 60%;
}



/*end of media querie*/
}






