@media screen and (min-width: 320px) {
.home-page {
	margin-top: 10px;
	font-family: sans-serif;
	display: block;
}
p {
	font-family: "Verlag A", "Verlag B", helvetica, sans-serif;
	float: left;
	/*margin-top: 10px;*/
	/*margin-right: 70%;*/
	margin-left: 4%;
	/*text-align: vertical;*/
}
/*-----------------------------------------*/
.contact-bar {
	width: 100%;
	height: 150px;
	background-color: #565656;
}
.contact-bar p {
	color:white;
	font-size: 40px;
	padding-left:10px;
	margin: 0;	
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.responsive-contact-menu {
	display: none;
	font-size: 50px;
	width: 50%;
	height: 600px;
	color: black;
	background-color: white;
	position: absolute;
	z-index: 1000;
	/*margin-top: 150px;*/
}
/*----------------------------------------*/
.header-logo-container {
	background-color: #ebebeb;
	width: 100%; 
	/*overflow: auto;*/
	border: 1px solid transparent;
	height: 360px;
	/*position: relative;*/

}
.header-logo-place-holder {
	background-color: #babac0;
	width: 300px;
	height: 300px;
	border-radius: 160px;
	float: left;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.pga-header {
	/*position:relative;*/
	/*margin:0;*/
	margin-top: 100px;
	/*margin-top: 30px;*/
	margin-bottom: 0px;
	font-size: 50px;
	font-family: Arial;
	
	/*text-align: center;*/
	/*padding: 50px;*/
	float: left;
	/*display: block;*/
}
.logo-phrase {
	margin:0;
	float: left;
	font-size: 30px;	
}
/*---------------------------------------*/
.mobile-nav {
	position: relative;
	float:left;
	color: white;
	background-color: #86869A;
	width:100%;
	height:150px;

}
.hamburger-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 85%;
	/*float:left;*/
	/*margin: 20px 10px ;*/
}
.hamburger-icon div {
	width: 70px;
	height: 10px;
	border-radius: 10px;
	margin-bottom: 11px;
	background: white;


}
.responsive-menu {
	display: none;
	font-size: 50px;
	width: 100%;
	height: 600px;
	color: black;
	background-color: white;
	position: absolute;
	z-index: 1000;
	margin-top: 150px;
}
.expand {
	display: block;
}
/*-------------------------------------*/
.home-page-image {
	width: 100%;
	height: 600px;
	background-color: #B8B8B8;
	z-index: 1;
}
.effective-phrase {
	width: 100%;
	height: 120px;
	background-color: #86869A;
}
.overall-phrase {
	font-size: 50px;
}
footer {
	width: 100%;
	height: 140px;
	background-color: #86869a;
	float: left;
	text-align: center;
	
}
footer p {
	margin: 0;
	margin-left: 200px;
	font-size: 30px;
	color: white;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}




/*end of media querie*/
}

